{% content %}
     this include add a picture of a big cat from wikipedia, S. Taheri,
     https://commons.wikipedia.org/wiki/File:Sibericher_tiger_de_edit02.jpg
{% endcomment %}
<img style="display:block; margin: 10px auto;"
     src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fimages.thefacecdn.com%2Fimages%2FED001_CIRCUSEXODUS_WEB_2.jpg%3Ffit%3Dcrop%26crop%3Dfocalpoint%26fp-x%3D0.5%26fp-y%3D0.3517%26w%3D1180&imgrefurl=https%3A%2F%2Ftheface.com%2Fsociety%2Ftiger-king-uk-big-cat-exotic-animals-conservation&tbnid=IcoCAv_pp8h66M&vet=12ahUKEwilgoP85OTvAhUpPbcAHdiaBZkQMygGegUIARDiAQ..i&docid=sgJR7ruz01KKDM&w=1180&h=1475&q=big%20cat&ved=2ahUKEwilgoP85OTvAhUpPbcAHdiaBZkQMygGegUIARDiAQ"
     alt="face of a big tiger">

